<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Comisiones</h2>

            <ol class="breadcrumb">
                <li>
                    <a href="<%= url_for :controller => 'dashboard', :action => 'index' %>">Inicio</a>
            </li>
            <li class="active">
                <strong><a>Comisiones</a></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Comisiones</h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="#">Config option 1</a>
            </li>
            <li>
                <a href="#">Config option 2</a>
            </li>
        </ul>
        <a class="close-link">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        <div class="col-sm-3 m-b-xs">
            <h5>Seleccione el tipo de productos</h5>
            <select class="input-sm form-control input-s-sm inline">
                <option ></option>
                <option value="0">Seguro de auto</option>
                <option value="1">Seguro de viaje</option>
                <option value="2">Seguro de RCP</option>
                <option value="3">Seguro de hogar</option>
                <option value="4">Seguro SOAP</option>
                <option value="5">Seguro de vida</option>
                <option value="6">Seguro del motor</option>
                <option value="7">Seguro de condominio</option>
            </select>
        </div>
        <div class="col-sm-3 m-b-xs">
            <h5>Seleccione la compañía de seguros</h5>
            <select class="input-sm form-control input-s-sm inline">
                <option ></option>
                <option value="0">Liberty</option>
                <option value="1">Mapre</option>
                <option value="2">HDI Seguros</option>
                <option value="3">BCI Insurance</option>
                <option value="4">Chilean Consolidated</option>
                <option value="5">Consortium</option>
                <option value="6">Zenit Seguros</option>
                <option value="7">Seguros SURA</option>
            </select>
        </div>
        <div class="col-sm-3 m-b-xs">
            <h5>Seleccione mes</h5>
            <select class="input-sm form-control input-s-sm inline">
                <option ></option>
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
        </div>
        <div class="col-sm-3 m-b-xs">
            <h5>&nbsp</h5>
            <div class="btn-group">
                <button type="button" class="btn btn-outline btn-sm btn-default">Submit</button>
            </div>
        </div>
    </div>
<br>
<table class="footable table table-striped table-bordered table-hover dataTables-example">
<thead>
<tr>
    <th data-toggle="true">Nombre</th>
    <th>RUT</th>
    <th>Apellido</th>
    <th>Apellido de la madre</th>
    <th>Estado de contacto</th>
    <th data-hide="all">Matrícula</th>
    <th data-hide="all">Precio</th>
    <th>Fecha de venta</th>
</tr>
</thead>
<tbody>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
    <tr class="gradeA">
        <td>Gecko</td>
        <td>800340249-3</td>
        <td>Mihal</td>
        <td class="center">Ronne</td>
        <td class="center">A</td>
        <td>3</td>
        <td class="center">$3020/month</td>
        <td class="center">2017.11.27</td>
    </tr>
</tbody>
<!-- <tfoot>
<tr>
    <th>Name</th>
    <th>RUT</th>
    <th>Last Name</th>
    <th>Mother's Last Name</th>
    <th>Contact Status</th>
    <th>Fees</th>
    <th>Price</th>
    <th>Sales Date</th>
</tr>
</tfoot> -->
</table>

</div>
</div>
</div>
</div>

</div>

<% content_for :javascript do %>

<script type="text/javascript">


$(function() {
    $('.footable').footable();
    
    $('.dataTables-example').DataTable({
        pageLength: 25,
        responsive: true,
        dom: '<"html5buttons"B>lTfgitp',
        buttons: [
            { extend: 'copy'},
            {extend: 'csv'},
            {extend: 'excel', title: 'ExampleFile'},
            {extend: 'pdf', title: 'ExampleFile'},

            {extend: 'print',
                customize: function (win){
                    $(win.document.body).addClass('white-bg');
                    $(win.document.body).css('font-size', '10px');

                    $(win.document.body).find('table')
                            .addClass('compact')
                            .css('font-size', 'inherit');
                }
            }
        ]

    });


});



</script>

<% end %>



