<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div style="padding-top: 100px;">
            <img src="/assets/img/logoHR.png" style="width: 100%;" />
        </div>
        <h3>Bienvenido a Espacio Seguro</h3>
        <p>
            Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
        </p>
        <p>Login in. To see it in action.</p>
        <form class="m-t" role="form" action="/dashboard/index">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="RUT Empresa" required="">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="RUT Trabajador" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width m-b">Entrar</button>
            <a href="/user/forgot_password"><small>Se te olvidó tu contraseña?</small></a>
        </form>
        <p class="m-t"> <small>Espacio Seguro &copy; 2017</small> </p>
    </div>
</div>